@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;800&family=Roboto:wght@100;300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

textarea,
input,
button {
  outline: none;
}
